@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-newsreader: 'Newsreader', serif;
  --font-inter: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  height: 0px;
}
/* Spasi jarak antar paragraf markdown */
.markdown-spacing-paragraph p{
  text-align: justify;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-newsreader);
}

p {
  font-family: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-newsreader);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}